@import '../../scss/utilities/all';

.addCard {
  padding-top: 45px;
  padding-bottom: 45px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  color: $grey-light;
  transition: color 250ms $easing;

  &:hover {
    color: $grey;
  }
}
