@import '../../scss/utilities/all';

$colors: (
  $yellow,
  $purple,
  $turquoise,
);

// .quizzesList {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 10px 10px;
//   padding-bottom: 20px;
// }
.quizzesList {
display: flex;
flex-direction: column;
text-align: center;

}
label {
  /* Other styling.. */
  text-align: right;
  clear: both;
  // float: left;
  margin-right:15px;
}
input[type="checkbox"], input[type="radio"] {
  vertical-align: baseline;
  float: left;
  // margin-left: 33+px;
  border: black;
  font-size: larger;
  margin: 10px;
}


.quizzesListItem {
  background: #fff;
  padding: 25px 15px;
  border-left: 4px solid;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: box-shadow 250ms ease-in;

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);

    &:nth-child(#{length($colors)}n + #{$i}) {
      border-left-color: $color;
    }
  }

  &:hover {
    color: lighten(#333, 15%);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
  }
}




@media(max-width: 725px) {
  .quizzesList {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
  }
}

// @media(min-width: 925px) {
//   .container {
//       background:var(--primary-white);

//   }

//   .footer {
//       background: var(--black-color);
//   }
// }