@import '~bulma/sass/utilities/initial-variables';

// Colors
$grey-dark: #4f6174;
$grey: #747d87;
$white-bis: #f0f3f7;

$primary: $cyan;

// Font
$family-sans-serif: 'Lato';

// Base
$body-background-color: $white-bis;
$body-size: 18px;
$text: $grey;

$radius-large: 15px;
$radius: 5px;

// Title
$title-color: $grey-dark;
$title-margin-bottom: 60px;
$title-weight: $weight-bold;
$subtitle-weight: $weight-bold;

// Card
$card-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
$card-border-radius: $radius-large;
$card-padding: 40px 45px;
