@import '~bulma/sass/utilities/initial-variables';

// Colors
$grey-dark: #4f6174;
$grey: #747d87;
$white-ter: #e0e4e9;
$white-bis: #f0f3f7;

$primary: $cyan;

// Font
$family-sans-serif: 'Lato';

// Base
$body-background-color: $white-bis;
$body-size: 18px;
$text: $grey;

$radius-large: 15px;
$radius: 5px;

// Title
$title-color: $grey-dark;
$title-margin-bottom: 60px;
$title-weight: $weight-bold;
$subtitle-weight: $weight-bold;

$size-1: 3.5rem;

// Button
$button-text-hover-background-color: $white-ter;
$button-text-hover-color: $grey-dark;

// Navbar
$navbar-height: 3.25rem;

// Card
$card-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
$card-border-radius: $radius-large;
$card-padding: 40px 45px;

// Modal
$modal-background-background-color: rgba($grey-dark, 0.35);
$modal-card-head-background-color: $white;
$modal-card-head-border-bottom: none;
$modal-card-head-padding: 55px 25px 15px 25px;
$modal-card-foot-background-color: $white-bis;
$modal-card-foot-border-top: none;
$modal-card-foot-padding: 25px;
$modal-card-body-padding: 20px 25px 55px 25px;
