html {
    font-size: 18px;
}

body {
    min-height: 100vh;
    margin: 0;

    background-image: url("assets/background.svg");
    background-size: cover;
    background-position: center center;

    font-family: 'Lato', sans-serif;
    color: #698099;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #4f6174;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a,
a:visited {
    color: #0b79bd;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 970px;
    margin: 0 auto;
    min-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}

    .content__text {
        flex: 2;

        padding-bottom: 200px;
    }

    .content__screenshot {
        flex: 3;

        padding-bottom: 100px;
        padding-left: 50px;
    }

        .content__screenshot > img {
            display: block;
            width: 100%;

            box-shadow: 0 7px 50px -10px rgba(0, 0, 0, 0.75);
        }

    .content__description {
        margin-bottom: 100px;
    }

@media (max-width: 720px) {
    .content {
        flex-direction: column;
    }

    .content__text {
        padding-bottom: 50px;
    }

    .content__description {
        margin-bottom: 50px;
    }

    .content__screenshot {
        padding-left:  0;
    }
}


.download__container {
    display: inline-flex;
    position: relative;

    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.download__button {
    background: #0E9AF1;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    border-radius: 8px 0 0 8px;
    padding: 20px 40px;
    cursor: pointer;
    text-decoration: none;
}

.download__button:hover {
    background: #0D8CDC;
}

#download-dropdown {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.download__dropdown-button {
    display: flex;
    background: #0B79BD;
    align-items: center;
    color: #fff;
    border-radius: 0 8px 8px 0;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    user-select: none;
}

.download__dropdown-button:hover {
    background: #0A6EAC;
}

#download-dropdown:checked ~ .download__dropdown {
    opacity: 1;
}

#download-dropdown:checked ~ .download__dropdown .download__dropdown-item {
    cursor: pointer;
    pointer-events: auto;
}

.download__dropdown {
    opacity: 0;
    position: absolute;
    background: #0E9AF1;
    color: #fff;
    top: 100px;
    right: 0;
    left: 0;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);

    transition: opacity 250ms ease-in-out;
    pointer-events: none;
}

.download__dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -23px;
    right: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-left-width: 12px;
    border-right-width: 12px;
    border-bottom-width: 20px;
    border-color: transparent transparent #0E9AF1 transparent;
}

.download__dropdown-item {
    display: block;
    padding-left: 40px;
    padding-bottom: 25px;
    padding-top: 25px;

    border-bottom: 2px solid #09629A;

    color: #fff;
    font-size: 1rem;
    user-select: none;
    text-decoration: none;

    pointer-events: none;
}

.download__dropdown-item:hover {
    background-color: #0D8CDC;
}

.download__dropdown-item:first-of-type {
    border-radius: 8px 8px 0 0;
}

.download__dropdown-item:last-of-type {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}
