@import '../utilities/all';

.page--padding-top {
  padding-top: calc(40px + #{$navbar-height});
  padding-bottom: 80px;

  .title {
    margin-bottom: 60px;
  }
}

.back-button {
  color: $grey-dark;

  &:hover {
    color: $grey;
  }
}
