@import '../utilities/all';

.page {
  padding-top: calc(40px + #{$navbar-height});
  padding-bottom: 80px;
  padding-left: 5px;
  padding-right: 5px;

  .title {
    margin-bottom: 60px;
  }
}

.back-button {
  > svg {
    height: 25px;
    fill: $grey-dark;
  }

  &:hover > svg {
    fill: $grey;
  }
}
